.container {

  h1 {
    font: 20pt 'Source Sans Pro';
    text-align: center;
  }

  textarea {
    height: 100px;
    resize: none;
  }

  p {
    font: 18pt 'Source Sans Pro';
    color: greenyellow;
  }

}