<div class="container">
    <div *ngIf="url">
        <h1>Little info about url</h1>
        <div class="url">
            <p>Full url: {{url.full_url}}</p>
            <div class="description">
                <h3>Little description:</h3>
                <p>{{url.description}}</p>
            </div>
            <div class="tags">
                <div *ngFor="let tag of url?.list_tags">
                    <a>{{tag}}</a>
                </div>
            </div>
            <div class="count">
                <p>Count click by shortener-url: {{url.count_click}}</p>
            </div>
            <div class="date-time">
                <p>Date joined: {{url.date}}</p>
                <p>Time joined: {{url.time}}</p>
            </div>
            <div class="user">
                <p>Created by: <a>{{url.author}}</a></p>
            </div>
            <div *ngIf="edit">
                <button [routerLink]="['edit']" class="btn btn-success">Edit info</button>
            </div>
        </div>
    </div>
</div>