<div class="container">

    <div class="row">
        <div class="col-sm-10">
            <h1>Stats {{username}}'s urls</h1>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Full url</th>
                <th>Shortener url</th>
                <th>Count click</th>
            </tr>
            </thead>
            <tbody *ngFor="let url of urls; let index = index">
            <tr>
                <td>{{url.full_url}}</td>
                <td>{{url.short_url}}</td>
                <td>{{url.count_click}}</td>
            </tr>
            </tbody>
        </table>
        <p>All count of urls: {{urlsCount}}</p>
    </div>

    <div [hidden]="urlLoaded">
        <p>Loading stats...</p>
    </div>

    <div [hidden]="!urlLoaded || urls.length">
        <p>No stats are here... yet.</p>
    </div>

</div>
