.navigation {
  background: #66ff66;
  border: none;
  border-radius: 0;

  .logo {
    color: white;
  }

  .navbar-nav > li > a {
    color: white;
    font: 14pt 'Source Sans Pro', sans-serif;

  }
  .currentUsername {
    font-weight: 900;
    color: black;
  }
}


@media (max-width: 768px) {

  ul li.nav-item.user {
    padding-left: 15px;
  }
}